<div *ngIf="student" class="h2 text-navy-blue">{{ student.firstName }} {{ student.lastName }}</div>
<div>
    <button (click)="showDetails = !showDetails" class="btn btn-primary bg-navy-blue border-navy-blue mb-3">
        {{ strings.phdStudentDetails }}
    </button>
    <button (click)="showFiles = !showFiles" class="btn btn-primary bg-navy-blue border-navy-blue mb-3 ml-3">
        {{ strings.documents }}
    </button>
    <button (click)="showExams = !showExams" class="btn btn-primary bg-navy-blue border-navy-blue mb-3 ml-3">
        {{ strings.exams }}
    </button>
</div>
<div *ngIf="showDetails && config">
    <student-details [(config)]="config"></student-details>
</div>
<div *ngIf="showFiles" class="mt-3">
    <student-files [currentYear]="student.currentYear" [studentId]="student.id"></student-files>
</div>
<div *ngIf="showExams" class="mt-3">
    <exams [currentYear]="student.currentYear" [studentId]="student.id"></exams>
</div>
