<table class="table table-bordered table-hover text-navy-blue">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{ strings.firstName }}</th>
            <th scope="col">{{ strings.lastName }}</th>
            <th scope="col" class="w-25"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let teacher of teachers">
            <th scope="row">{{ teacher?.id }}</th>
            <td>{{ teacher?.firstName }}</td>
            <td>{{ teacher?.lastName }}</td>
            <td class="text-center">
                <a [routerLink]="'/teachers/' + teacher.id" class="hyperlink">{{ strings.viewEdit }}</a>
            </td>
        </tr>
    </tbody>
</table>
