<form #upsertStudentForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="row form-group">
        <div class="col">
            <label for="firstName">First Name</label>
            <input id="firstName" placeholder="Enter First Name" class="form-control" />
        </div>
        <div class="col">
            <label for="firstName">Specialty</label>
            <input id="firstName" placeholder="Enter Specialty" class="form-control" />
        </div>
    </div>
    <div class="row form-group">
        <div class="col">
            <label for="firstName">Middle Name</label>
            <input id="firstName" placeholder="Enter Middle Name" class="form-control" />
        </div>
        <div class="col"></div>
    </div>
    <div class="row form-group">
        <div class="col">
            <label for="firstName">Last Name</label>
            <input id="firstName" placeholder="Enter Last Name" class="form-control" />
        </div>
        <div class="col"></div>
    </div>
</form>
