<form #addStudentForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="row form-group">
        <div class="col">
            <label for="firstName">{{ strings.firstName }}</label>
            <input [(ngModel)]="student.firstName" id="firstName" name="firstName" [placeholder]="strings.enterFirstName" class="form-control" required />
        </div>
        <div class="col">
            <label for="middleName">{{ strings.middleName }}</label>
            <input [(ngModel)]="student.middleName" id="middleName" name="middleName" [placeholder]="strings.enterMiddleName" class="form-control" />
        </div>
    </div>
    <div class="row form-group">
        <div class="col">
            <label for="lastName">{{ strings.lastName }}</label>
            <input [(ngModel)]="student.lastName" id="lastName" name="lastName" [placeholder]="strings.enterLastName" class="form-control" required />
        </div>
        <div class="col">
            <label for="specialty">{{ strings.email }}</label>
            <input [(ngModel)]="student.email" id="email" name="email" [placeholder]="strings.enterEmail" class="form-control" type="email" required />
        </div>
    </div>
    <div class="row form-group">
        <div class="col">
            <label for="specialty">{{ strings.specialty }}</label>
            <input [(ngModel)]="student.specialty" id="specialty" name="specialty" [placeholder]="strings.enterSpecialty" class="form-control" required />
        </div>
        <div class="col">
            <label for="facultyCouncilChosenDate">{{ strings.facultyCouncilDate }}</label>
            <input
                [(ngModel)]="student.facultyCouncilChosenDate"
                id="facultyCouncilChosenDate"
                name="facultyCouncilChosenDate"
                [placeholder]="strings.enterFacultyCouncilDate"
                class="form-control"
                type="date"
                required
            />
        </div>
    </div>
    <div class="row form-group">
        <div class="col">
            <label for="formOfEducation">{{ strings.formOfEducation }}</label>
            <select [(ngModel)]="student.formOfEducation" id="formOfEducation" name="formOfEducation" class="form-control custom-select" required>
                <option *ngFor="let form of formsOfEducation" [value]="form">{{ form }}</option>
            </select>
        </div>
        <div class="col">
            <label for="currentYear">{{ strings.currentYear }}</label>
            <select [(ngModel)]="student.currentYear" id="currentYear" name="curerntYear" class="form-control custom-select">
                <option *ngFor="let currentYear of formOfEducationMap.get(student.formOfEducation)" [value]="currentYear" required>{{ currentYear }}</option>
            </select>
        </div>
    </div>
    <button [disabled]="addStudentForm.invalid" id="submit-btn" class="btn btn-primary bg-navy-blue border-navy-blue" type="submit">
        {{ strings.add }}
    </button>
</form>
