<nav class="navbar navbar-expand-lg navbar-dark bg-light-grey mb-3 sticky-top border-bottom">
    <a (click)="navigateToUserDashboard()" class="navbar-brand pointer">
        <img [src]="logoUrl" width="40" height="40" alt="" />
    </a>
    <button
        class="navbar-toggler bg-navy-blue"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav bg-light-grey mr-auto">
            <li *hasRole="'Admin,Teacher'" class="nav-item">
                <a [routerLink]="'/students'" class="nav-link hyperlink">{{ strings.phdStudents }}</a>
            </li>
            <li *hasRole="'Admin'" class="nav-item">
                <a [routerLink]="'/teachers'" class="nav-link hyperlink">{{ strings.supervisors }}</a>
            </li>
            <li *hasRole="'Admin'" class="nav-item">
                <a [routerLink]="'/professionalFields'" class="nav-link hyperlink">{{ strings.professionalFields }}</a>
            </li>
            <li *hasRole="'Admin'" class="nav-item">
                <a [routerLink]="'/phdPrograms'" class="nav-link hyperlink">{{ strings.phdPrograms }}</a>
            </li>
        </ul>
        <span *hasRole="'Teacher,Student'">
            <a (click)="navigateToDetailsPage()" class="nav-link pl-0 pr-3 hyperlink pointer">{{ strings.details }}</a>
        </span>
        <span>
            <a (click)="logout()" class="nav-link pl-0 pr-3 hyperlink pointer">{{ strings.logout }}</a>
        </span>
    </div>
</nav>
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>
