<nav class="navbar navbar-expand-sm navbar-dark bg-light-grey">
    <a class="navbar-brand" href="#">
        <img src="../../../assets/images/phd_system_logo_icon_white_hat.png" width="40" height="40" alt="" />
    </a>
    <button
        class="navbar-toggler bg-navy-blue"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav bg-light-grey mr-auto">
            <li class="nav-item">
                <a href="#" class="nav-link hyperlink">Example</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link hyperlink">Example</a>
            </li>
        </ul>
        <span class="mr-5">
            <a (click)="logout()" href="#" class="nav-link px-0 hyperlink">{{ strings.logout }}</a>
        </span>
    </div>
</nav>
<router-outlet></router-outlet>
