<table class="table table-bordered table-hover text-navy-blue">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{ strings.title }}</th>
            <th scope="col">{{ strings.degree }}</th>
            <th scope="col" class="w-25">{{ strings.firstName }}</th>
            <th scope="col" class="w-25">{{ strings.lastName }}</th>
            <th scope="col" colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let teacher of teachers; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ teacher.title }}</td>
            <td>{{ teacher.degree }}</td>
            <td>{{ teacher.firstName }}</td>
            <td>{{ teacher.lastName }}</td>
            <td class="text-center">
                <a [routerLink]="'/teachers/' + teacher.id" class="hyperlink">{{ strings.viewEdit }}</a>
            </td>
            <td class="text-center">
                <a class="hyperlink pointer underline" (click)="onDeleteClick(teacher.id)">{{ strings.delete }}</a>
            </td>
        </tr>
    </tbody>
</table>
