<div *ngIf="student" class="h2 text-navy-blue">{{ student.firstName }} {{ student.lastName }}</div>
<div>
    <button (click)="showDetails = !showDetails" class="btn btn-primary bg-navy-blue border-navy-blue mb-3">
        {{ strings.phdStudentDetails }}
    </button>
    <button (click)="showFiles = !showFiles" class="btn btn-primary bg-navy-blue border-navy-blue mb-3 ml-3">
        {{ strings.files }}
    </button>
    <button (click)="showExams = !showExams" class="btn btn-primary bg-navy-blue border-navy-blue mb-3 ml-3">
        {{ strings.exams }}
    </button>
</div>
<div *ngIf="showDetails">
    <form *ngIf="student" #studentForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="border border-navy-blue bg-light-grey rounded p-3">
            <div class="row form-group">
                <div class="col">
                    <text-input
                        [editMode]="isInEditMode"
                        [(text)]="student.firstName"
                        [label]="strings.firstName"
                        [id]="'firstName'"
                        [name]="'firstName'"
                        [placeholder]="strings.enterFirstName"
                        [isRequired]="true"
                    ></text-input>
                </div>
                <div class="col">
                    <label class="text-light-orange" for="middleName">{{ strings.middleName }}:</label>
                    <div>
                        <div *ngIf="!isInEditMode">{{ student.middleName }}</div>
                        <input
                            *ngIf="isInEditMode"
                            [(ngModel)]="student.middleName"
                            id="middleName"
                            name="middleName"
                            [placeholder]="strings.enterMiddleName"
                            class="form-control"
                        />
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col">
                    <label class="text-light-orange" for="lastName">{{ strings.lastName }}:</label>
                    <div>
                        <div *ngIf="!isInEditMode">{{ student.lastName }}</div>
                        <input
                            *ngIf="isInEditMode"
                            [(ngModel)]="student.lastName"
                            id="lastName"
                            name="lastName"
                            [placeholder]="strings.enterLastName"
                            class="form-control"
                            required
                        />
                    </div>
                </div>
                <div class="col">
                    <label class="text-light-orange" for="specialty">{{ strings.email }}:</label>
                    <div>
                        <div *ngIf="!isInEditMode">{{ student.email }}</div>
                        <input
                            *ngIf="isInEditMode"
                            [(ngModel)]="student.email"
                            id="email"
                            name="email"
                            [placeholder]="strings.enterEmail"
                            class="form-control"
                            type="email"
                            required
                        />
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col">
                    <label class="text-light-orange" for="specialty">{{ strings.specialty }}:</label>
                    <div>
                        <div *ngIf="!isInEditMode">{{ student.specialty }}</div>
                        <input
                            *ngIf="isInEditMode"
                            [(ngModel)]="student.specialty"
                            id="specialty"
                            name="specialty"
                            [placeholder]="strings.enterSpecialty"
                            class="form-control"
                            required
                        />
                    </div>
                </div>
                <div class="col">
                    <date-picker
                        [(date)]="student.facultyCouncilChosenDate"
                        [label]="strings.facultyCouncilDate"
                        [editMode]="isInEditMode"
                        [id]="'facultyCouncilChosenDate'"
                        [name]="'facultyCouncilChosenDate'"
                        [placeholder]="strings.enterFacultyCouncilDate"
                        [isRequired]="true"
                    ></date-picker>
                </div>
            </div>
            <div class="row form-group">
                <div class="col">
                    <options-select
                        [editMode]="isInEditMode"
                        [(value)]="student.formOfEducationId"
                        [label]="strings.formOfEducation"
                        [options]="formsOfEducationOptions"
                        [propertyValue]="'id'"
                        [propertyLabel]="'name'"
                        [id]="'formOfEducation'"
                        [name]="'formOfEducation'"
                        [isRequired]="true"
                    ></options-select>
                </div>
                <div class="col">
                    <label class="text-light-orange" for="currentYear">{{ strings.currentYear }}:</label>
                    <div>
                        <div *ngIf="!isInEditMode">{{ student.currentYear }}</div>
                        <select
                            *ngIf="isInEditMode"
                            [(ngModel)]="student.currentYear"
                            id="currentYear"
                            name="curerntYear"
                            class="form-control custom-select"
                        >
                            <option *ngFor="let currentYear of [1, 2, 3]" [value]="currentYear" required>{{ currentYear }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <select-teachers [isInEditMode]="isInEditMode" [(selectedTeachers)]="student.teachers"> </select-teachers>
        </div>
        <div class="mt-3">
            <div class="d-flex justify-content-between" *ngIf="isInEditMode">
                <button (click)="onCancelClick()" id="cancel-btn" class="btn btn-primary bg-navy-blue border-navy-blue">
                    {{ strings.cancel }}
                </button>
                <button
                    [disabled]="studentForm.invalid"
                    id="submit-btn"
                    class="btn btn-primary bg-navy-blue border-navy-blue"
                    type="submit"
                >
                    {{ strings.save }}
                </button>
            </div>
            <div class="d-flex justify-content-between" *ngIf="!isInEditMode">
                <button (click)="onBackClick()" id="back-btn" class="btn btn-primary bg-navy-blue border-navy-blue">
                    {{ strings.back }}
                </button>
                <button (click)="onEditClick()" id="edit-btn" class="btn btn-primary bg-navy-blue border-navy-blue">
                    {{ strings.edit }}
                </button>
            </div>
        </div>
    </form>
</div>

<!-- <button [routerLink]="['/files', { studentId: student.id, currentYear: student.currentYear }]" id="edit-btn" class="btn btn-primary bg-navy-blue border-navy-blue">
    {{ strings.edit }}
</button> -->

<div *ngIf="showFiles" class="mt-3">
    <student-files [currentYear]="initialStudent.currentYear" [studentId]="initialStudent.id"></student-files>
</div>
