<form *ngIf="config && config.student" #studentForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="border border-navy-blue bg-light-grey rounded p-3">
        <div class="row form-group">
            <div class="col">
                <text-input
                    [showForms]="showForms"
                    [(text)]="config.student.firstName"
                    [label]="strings.firstName"
                    [id]="'firstName'"
                    [name]="'firstName'"
                    [placeholder]="strings.enterFirstName"
                    [isRequired]="true"
                ></text-input>
            </div>
            <div class="col">
                <text-input
                    [showForms]="showForms"
                    [(text)]="config.student.middleName"
                    [label]="strings.middleName"
                    [id]="'middleName'"
                    [name]="'middleName'"
                    [placeholder]="strings.enterMiddleName"
                    [isRequired]="false"
                ></text-input>
            </div>
            <div class="col">
                <text-input
                    [showForms]="showForms"
                    [(text)]="config.student.lastName"
                    [label]="strings.lastName"
                    [id]="'lastName'"
                    [name]="'lastName'"
                    [placeholder]="strings.enterLastName"
                    [isRequired]="true"
                ></text-input>
            </div>
        </div>
        <div class="row form-group">
            <div class="col">
                <text-input
                    [showForms]="showForms"
                    [(text)]="config.student.email"
                    [label]="strings.email"
                    [id]="'email'"
                    [name]="'email'"
                    [placeholder]="strings.enterEmail"
                    [type]="'email'"
                    [isRequired]="true"
                ></text-input>
            </div>
            <div class="col">
                <label class="text-light-orange" for="id">{{ strings.formOfEducation }}:</label>
                <div *ngIf="!showForms">{{ config.student.formOfEducation.name }}</div>
                <select
                    *ngIf="showForms"
                    [(ngModel)]="config.student.formOfEducation.id"
                    id="formOfEducation"
                    name="formOfEducation"
                    class="form-control custom-select"
                    required
                >
                    <option [ngValue]="undefined">{{ strings.chooseFormOfEducation }}</option>
                    <option *ngFor="let option of formsOfEducationOptions" [ngValue]="option.id">{{ option.name }}</option>
                </select>
            </div>
            <div class="col">
                <label class="text-light-orange" for="id">{{ strings.currentYear }}:</label>
                <div *ngIf="!showForms">{{ config.student.currentYear }}</div>
                <select
                    *ngIf="showForms"
                    [(ngModel)]="config.student.currentYear"
                    id="currentYear"
                    name="currentYear"
                    class="form-control custom-select"
                    required
                >
                    <option [ngValue]="undefined">{{ strings.chooseCurrentYear }}</option>
                    <option
                        *ngFor="let option of formsOfEducationYearMap.get(config.student.formOfEducation.id)"
                        [ngValue]="option"
                        >{{ option }}</option
                    >
                </select>
            </div>
        </div>
        <div class="row form-group">
            <div class="col">
                <text-input
                    [showForms]="showForms"
                    [(text)]="config.student.specialty"
                    [label]="strings.specialty"
                    [id]="'specialty'"
                    [name]="'specialty'"
                    [placeholder]="strings.enterSpecialty"
                    [isRequired]="true"
                ></text-input>
            </div>
            <div class="col">
                <label class="text-light-orange" for="id">{{ strings.professionalField }}:</label>
                <div *ngIf="!showForms">{{ config.student.professionalField?.name }}</div>
                <select
                    *ngIf="showForms"
                    (change)="onProfessionalFieldChange()"
                    [(ngModel)]="config.student.professionalField.id"
                    id="professionalField"
                    name="professionalField"
                    class="form-control custom-select"
                    required
                >
                    <option [ngValue]="undefined">{{ strings.chooseProfessionalField }}</option>
                    <option *ngFor="let option of professionalFieldOptions" [ngValue]="option.id">{{ option.name }}</option>
                </select>
            </div>
            <div class="col">
                <label class="text-light-orange" for="id">{{ strings.phdProgram }}:</label>
                <div *ngIf="!showForms">{{ config.student.phdProgram.name }}</div>
                <select
                    *ngIf="showForms"
                    [(ngModel)]="config.student.phdProgram.id"
                    id="phdProgram"
                    name="phdProgram"
                    class="form-control custom-select"
                    required
                >
                    <option [ngValue]="undefined">{{ strings.choosePhdProgram }}</option>
                    <option *ngFor="let option of phdProgramOptions" [ngValue]="option.id">{{ option.name }}</option>
                </select>
            </div>
        </div>
        <div class="row form-group">
            <div class="col">
                <date-picker
                    [(date)]="config.student.facultyCouncilChosenDate"
                    [label]="strings.facultyCouncilDate"
                    [showForms]="showForms"
                    [id]="'facultyCouncilChosenDate'"
                    [name]="'facultyCouncilChosenDate'"
                    [placeholder]="strings.enterFacultyCouncilDate"
                    [isRequired]="true"
                ></date-picker>
            </div>
            <div class="col">
                <date-picker
                    [(date)]="config.student.startDate"
                    [label]="strings.startDate"
                    [showForms]="showForms"
                    [id]="'startDate'"
                    [name]="'startDate'"
                    [placeholder]="strings.enterStartDate"
                    [isRequired]="true"
                ></date-picker>
            </div>
            <div class="col">
                <date-picker
                    [(date)]="config.student.endDate"
                    [label]="strings.endDate"
                    [showForms]="showForms"
                    [id]="'endDate'"
                    [name]="'endDate'"
                    [placeholder]="strings.enterEndDate"
                    [isRequired]="true"
                ></date-picker>
            </div>
        </div>
        <div class="row form-group">
            <div class="col">
                <label class="text-light-orange" for="university">{{ strings.university }}:</label>
                <div *ngIf="!showForms">{{ config.student.university?.name }}</div>
                <select
                    *ngIf="showForms"
                    (change)="onUniversityChange()"
                    [(ngModel)]="config.student.university.id"
                    id="university"
                    name="university"
                    class="form-control custom-select"
                    required
                >
                    <option [ngValue]="undefined">{{ strings.chooseFormOfEducation }}</option>
                    <option *ngFor="let option of universityOptions" [ngValue]="option.id">{{ option.name }}</option>
                </select>
            </div>
            <div class="col">
                <label class="text-light-orange" for="faculty">{{ strings.faculty }}:</label>
                <div *ngIf="!showForms">{{ config.student.faculty?.name }}</div>
                <select
                    *ngIf="showForms"
                    (change)="onFacultyChange()"
                    [(ngModel)]="config.student.faculty.id"
                    id="faculty"
                    name="faculty"
                    class="form-control custom-select"
                    required
                >
                    <option [ngValue]="undefined">{{ strings.chooseFaculty }}</option>
                    <option *ngFor="let option of facultyOptions" [ngValue]="option.id">{{ option.name }}</option>
                </select>
            </div>
            <div class="col">
                <label class="text-light-orange" for="department">{{ strings.department }}:</label>
                <div *ngIf="!showForms">{{ config.student.department.name }}</div>
                <select
                    *ngIf="showForms"
                    [(ngModel)]="config.student.department.id"
                    id="department"
                    name="department"
                    class="form-control custom-select"
                    required
                >
                    <option [ngValue]="undefined">{{ strings.chooseDepartment }}</option>
                    <option *ngFor="let option of departmentOptions" [ngValue]="option.id">{{ option.name }}</option>
                </select>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-4">
                <text-input
                    [showForms]="showForms"
                    [(text)]="config.student.dissertationTheme"
                    [label]="strings.dissertationTheme"
                    [id]="'dissertationTheme'"
                    [name]="'dissertationTheme'"
                    [placeholder]="strings.enterDissertationTheme"
                    [isRequired]="true"
                >
                </text-input>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <select-teachers [showForms]="showForms" [(selectedTeachers)]="config.student.teachers"> </select-teachers>
            </div>
        </div>
    </div>
    <div class="mt-3">
        <div *ngIf="config.editMode">
            <div class="d-flex justify-content-between" *ngIf="showForms">
                <button (click)="onCancelClick()" id="cancel-btn" class="btn btn-primary bg-navy-blue border-navy-blue">
                    {{ strings.cancel }}
                </button>
                <button
                    [disabled]="studentForm.invalid"
                    id="submit-btn"
                    class="btn btn-primary bg-navy-blue border-navy-blue"
                    type="submit"
                >
                    {{ strings.save }}
                </button>
            </div>
            <div class="d-flex justify-content-between" *ngIf="!showForms">
                <button (click)="onBackClick()" id="back-btn" class="btn btn-primary bg-navy-blue border-navy-blue">
                    {{ strings.back }}
                </button>
                <button
                    *hasRole="'Admin'"
                    (click)="onEditClick()"
                    id="edit-btn"
                    class="btn btn-primary bg-navy-blue border-navy-blue"
                >
                    {{ strings.edit }}
                </button>
            </div>
        </div>
        <div *ngIf="config.addMode">
            <button
                [disabled]="studentForm.invalid"
                id="submit-btn"
                class="btn btn-primary bg-navy-blue border-navy-blue"
                type="submit"
            >
                {{ strings.add }}
            </button>
        </div>
    </div>
</form>
