<table class="table table-hover border">
    <thead>
        <tr class="text-navy-blue">
            <th scope="col">#</th>
            <th scope="col">{{ strings.firstName }}</th>
            <th scope="col">{{ strings.lastName }}</th>
            <th scope="col">{{ strings.operations }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of students">
            <th class="text-navy-blue" scope="row">{{ student.id }}</th>
            <td>{{ student.firstName }}</td>
            <td>{{ student.lastName }}</td>
            <td>
                <a [routerLink]="'/students/' + student.id">Details</a>
            </td>
        </tr>
    </tbody>
</table>
