<table class="table table-hover border">
    <thead>
        <tr class="text-navy-blue">
            <th scope="col">Id</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of students">
            <th class="text-navy-blue" scope="row">{{ student.id }}</th>
            <td>{{ student.firstName }}</td>
            <td>{{ student.lastName }}</td>
            <td>Actions</td>
        </tr>
    </tbody>
</table>
