@import 'src/assets/styles/colors.scss';

.logo {
    height: 300px;
}

.login-card-dimensions {
    width: 500px;
}

.font-size-14px {
    font-size: 14px;
}

.submit-btn {
    background-color: $navy-blue;
    border-color: $navy-blue;
}
