@import 'src/assets/styles/colors.scss';

.logo {
    height: 300px;
}

.login-card {
    width: 500px;
    background-color: $light-grey;
    border-color: $light-grey;
}

.font-size-14px {
    font-size: 14px;
}

.login-btn {
    background-color: $navy-blue;
    border-color: $navy-blue;
}
