<label class="text-navy-blue font-weight-bold" for="currentYear">Ръководители:</label>
<div class="mb-3">
    <div *ngFor="let teacher of selectedTeachers">
        {{ getTeacherLabel(teacher) }}
        <i *ngIf="showForm" class="fa fa-times ml-2 pointer" (click)="removeSelection(teacher)"></i>
    </div>
</div>
<select *ngIf="showForm" [(ngModel)]="selectedTeacherId" class="custom-select">
    <option [ngValue]="undefined"></option>
    <option *ngFor="let teacher of allTeachers" [value]="teacher.id">{{ getTeacherLabel(teacher) }}</option>
</select>
