<form *ngIf="config && config.teacher" #teacherForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="border border-navy-blue bg-light-grey rounded p-3">
        <div class="row form-group">
            <div class="col">
                <text-input
                    [showForms]="showForms"
                    [(text)]="config.teacher.firstName"
                    [label]="strings.firstName"
                    [id]="'firstName'"
                    [name]="'firstName'"
                    [placeholder]="strings.enterFirstName"
                    [isRequired]="true"
                >
                </text-input>
            </div>
            <div class="col">
                <text-input
                    [showForms]="showForms"
                    [(text)]="config.teacher.middleName"
                    [label]="strings.middleName"
                    [id]="'middleName'"
                    [name]="'middleName'"
                    [placeholder]="strings.enterMiddleName"
                >
                </text-input>
            </div>
        </div>
        <div class="row form-group">
            <div class="col">
                <text-input
                    [showForms]="showForms"
                    [(text)]="config.teacher.lastName"
                    [label]="strings.lastName"
                    [id]="'lastName'"
                    [name]="'lastName'"
                    [placeholder]="strings.enterLastName"
                    [isRequired]="true"
                >
                </text-input>
            </div>
            <div class="col">
                <text-input
                    [showForms]="showForms"
                    [(text)]="config.teacher.email"
                    [label]="strings.email"
                    [id]="'email'"
                    [name]="'email'"
                    [placeholder]="strings.enterEmail"
                    [isRequired]="true"
                    [type]="'email'"
                >
                </text-input>
            </div>
        </div>
        <div class="row form-group">
            <div class="col">
                <label class="text-navy-blue font-weight-bold" for="title">{{ strings.title }}:</label>
                <div>
                    <div *ngIf="!showForms">{{ config.teacher.title }}</div>
                    <select
                        *ngIf="showForms"
                        [(ngModel)]="config.teacher.title"
                        id="title"
                        name="title"
                        class="form-control custom-select"
                        required
                    >
                        <option [ngValue]="undefined">Изберете академична дължност</option>
                        <option *ngFor="let title of titleOptions">{{ title }}</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <label class="text-navy-blue font-weight-bold" for="degree">{{ strings.degree }}:</label>
                <div>
                    <div *ngIf="!showForms">{{ config.teacher.degree }}</div>
                    <select
                        *ngIf="showForms"
                        [(ngModel)]="config.teacher.degree"
                        id="degree"
                        name="degree"
                        class="form-control custom-select"
                        required
                    >
                        <option [ngValue]="undefined">Изберете научна степен</option>
                        <option *ngFor="let degree of degreeOptions">{{ degree }}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3">
        <div *ngIf="config.editMode">
            <div class="d-flex justify-content-between" *ngIf="showForms">
                <button (click)="onCancelClick()" id="cancel-btn" class="btn btn-primary bg-navy-blue border-navy-blue">
                    {{ strings.cancel }}
                </button>
                <button
                    [disabled]="teacherForm.invalid"
                    id="submit-btn"
                    class="btn btn-primary bg-navy-blue border-navy-blue"
                    type="submit"
                >
                    {{ strings.save }}
                </button>
            </div>
            <div *ngIf="!showForms" class="d-flex justify-content-between">
                <button (click)="onBackClick()" id="back-btn" class="btn btn-primary bg-navy-blue border-navy-blue">
                    {{ strings.back }}
                </button>
                <button
                    *hasRole="'Admin'"
                    (click)="onEditClick()"
                    id="edit-btn"
                    class="btn btn-primary bg-navy-blue border-navy-blue"
                >
                    {{ strings.edit }}
                </button>
            </div>
        </div>
        <div *ngIf="config.addMode">
            <button
                [disabled]="teacherForm.invalid"
                id="submit-btn"
                class="btn btn-primary bg-navy-blue border-navy-blue"
                type="submit"
            >
                {{ strings.add }}
            </button>
        </div>
    </div>
</form>
