<div class="text-center">
    <img class="logo" src="../../../assets/images/phd_system_logo_full.png" alt="Full Logo" />
</div>
<div class="card mx-auto set-password-card">
    <div class="card-body">
        <form #setPasswordForm="ngForm" (ngSubmit)="setPassword(setPasswordForm)">
            <div class="form-group">
                <label for="newPassword-input">{{ strings.newPassword }}:</label>
                <input
                    [(ngModel)]="newPassword"
                    #newPasswordModel="ngModel"
                    id="newPassword"
                    name="newPassword"
                    class="form-control"
                    type="password"
                    required
                />
                <div class="text-danger font-size-14px" [hidden]="newPasswordModel.valid || !newPasswordModel.touched">
                    *{{ strings.pleaseEnterPassword }}
                </div>
            </div>
            <div class="form-group">
                <label for="repeatPassword-input">{{ strings.repeatPassword }}:</label>
                <input
                    [(ngModel)]="repeatPassword"
                    #repeatPasswordModel="ngModel"
                    id="repeatPassword-input"
                    name="repeatPassword"
                    class="form-control"
                    type="password"
                    required
                />
                <div class="text-danger font-size-14px" [hidden]="repeatPasswordModel.valid || !repeatPasswordModel.touched">
                    *{{ strings.pleaseEnterPassword }}
                </div>
            </div>
            <button
                [disabled]="setPasswordForm.invalid || newPassword !== repeatPassword"
                id="submit-btn"
                class="btn btn-primary bg-navy-blue border-navy-blue"
                type="submit"
            >
                {{ strings.setPassword }}
            </button>
        </form>
    </div>
</div>
