$navy-blue: #003f6c;

$light-orange: #fd784c;

$light-grey: #eeeeee;

$grey: #777777;

.bg-light-grey {
    background-color: $light-grey !important;
}

.bg-light-orange {
    background-color: $light-orange !important;
}

.bg-navy-blue {
    background-color: $navy-blue !important;
}

.border-navy-blue {
    border: 1px solid $navy-blue !important;
}

.text-navy-blue {
    color: $navy-blue !important;
}

.text-light-orange {
    color: $light-orange !important;
}

.text-label {
    font-size: 14px;
    color: $grey !important;
}

.hyperlink {
    color: $navy-blue !important;
}

.hyperlink:hover {
    color: $light-orange !important;
}

.pointer {
    cursor: pointer !important;
}

.underline:hover {
    text-decoration: underline !important;
}
