.hyperlink {
    color: $navy-blue !important;
}

.hyperlink:hover {
    color: $light-orange !important;
}

.pointer {
    cursor: pointer !important;
}

.underline:hover {
    text-decoration: underline !important;
}

.hidden {
    display: none !important;
}

.background-image-none {
    background-image: none !important;
}
