<div *ngFor="let yearGroup of yearGroupFiles" class="border-navy-blue mb-3 p-3 rounded bg-light-grey">
    <div class="h3">Курс - {{ yearGroup }}</div>
    <div *ngIf="studentFileDetailsList">
        <div *ngFor="let file of getYearGroupFiles(yearGroup)">
            <span (click)="downloadFile(file, yearGroup)" class="hyperlink pointer">{{ file }} </span>
            <i (click)="deleteFile(file, yearGroup)" class="fa fa-times ml-2 pointer"></i>
        </div>
        <div>
            <input (change)="fileUpload(file.files, yearGroup)" #file class="hidden" type="file" />
            <button (click)="file.click()" class="btn btn-primary bg-navy-blue border-navy-blue mt-3">Upload</button>
        </div>
    </div>
</div>
<div class="border-navy-blue p-3 rounded bg-light-grey">
    <div class="h3">Други</div>
    <div *ngIf="studentFileDetailsList">
        <div *ngFor="let file of getYearGroupFiles(generalGroupFiles)">
            <span (click)="downloadFile(file)" class="hyperlink pointer">{{ file }}</span>
        </div>
        <div>
            <input (change)="fileUpload(file.files)" #file class="hidden" type="file" />
            <button (click)="file.click()" class="btn btn-primary bg-navy-blue border-navy-blue mt-3">Upload</button>
        </div>
    </div>
</div>
